<!DOCTYPE html>

<head>
    <title>Discord Alpha 0.000001a </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
</body>

<script>
    window.onload = setTimeout(function() { localStorage.setItem('register', "{{user}}");  window.location.href = '/'},2000);
</script>