<!DOCTYPE html>

<head>
    <title>Discord Alpha 0.000001a </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <form action="" method="post">
                <div class="card">
                    <div class="card-header">
                        <h4>Registration</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" name="nickname" id="nick">
                            <small class="form-text text-muted">This is personal!</small>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <form>
                </div>
        </div>
    </div>
    {% if  code == 101 %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <span>User already exists</span>
    </div>
    {% endif %}
</body>